<div>
  <div>
    <h1>
      <%=@the_board.name%> 
    </h1>
<hr>
 <h2>Add a new post</h2>  
<form action="/insert_post" method="post">

<label for="title">Title</label>
<input id="title" name="post_title" type="text">

<label for="body"> Body </label>


 

<hr>
<!--Enter Active and Expired Posts Lists-->


<hr>
